CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_x86_64_DEVICE_generic=y
CONFIG_TARGET_DEVICE_PACKAGES_x86_64_DEVICE_generic=""
CONFIG_ALL_KMODS=y
CONFIG_ALL_NONSHARED=y
CONFIG_DEVEL=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_AUTOREMOVE=y
CONFIG_BPF_TOOLCHAIN_BUILD_LLVM=y
CONFIG_BUILDBOT=y
CONFIG_BUILD_LOG=y
CONFIG_COLLECT_KERNEL_DEBUG=y
CONFIG_HAS_BPF_TOOLCHAIN=y
CONFIG_IB=y
CONFIG_IMAGEOPT=y
CONFIG_ISO_IMAGES=y
CONFIG_JSON_CYCLONEDX_SBOM=y
CONFIG_KERNEL_BUILD_DOMAIN="buildhost"
CONFIG_KERNEL_BUILD_USER="buildbot"
CONFIG_MAKE_TOOLCHAIN=y
CONFIG_PACKAGE_attendedsysupgrade-common=y
CONFIG_PACKAGE_kmod-e1000=y
CONFIG_PACKAGE_libbpf=m
CONFIG_PACKAGE_libpcap=m
CONFIG_PACKAGE_libxdp=m
CONFIG_PACKAGE_luci-app-attendedsysupgrade=y
CONFIG_PACKAGE_luci-i18n-attendedsysupgrade-zh-cn=y
CONFIG_PACKAGE_qosify=m
CONFIG_PACKAGE_rpcd-mod-rpcsys=y
CONFIG_PACKAGE_tc-tiny=m
CONFIG_PACKAGE_xdp-filter=m
CONFIG_PACKAGE_xdp-loader=m
CONFIG_PACKAGE_xdpdump=m
CONFIG_QCOW2_IMAGES=y
CONFIG_REPRODUCIBLE_DEBUG_INFO=y
CONFIG_SDK=y
CONFIG_SDK_LLVM_BPF=y
CONFIG_TARGET_ALL_PROFILES=y
CONFIG_TARGET_ROOTFS_PARTSIZE=300
CONFIG_USE_LLVM_BUILD=y
CONFIG_VDI_IMAGES=y
CONFIG_VERSIONOPT=y
CONFIG_VERSION_BUG_URL=""
CONFIG_VERSION_CODE=""
CONFIG_VERSION_DIST="RTAWRT"
CONFIG_VERSION_FILENAMES=y
CONFIG_VERSION_HOME_URL=""
CONFIG_VERSION_HWREV=""
CONFIG_VERSION_MANUFACTURER=""
CONFIG_VERSION_MANUFACTURER_URL=""
CONFIG_VERSION_NUMBER=""
CONFIG_VERSION_PRODUCT=""
CONFIG_VERSION_REPO="https://github.com/rtaserver/OpenWrt-AutoBuild/releases"
CONFIG_VERSION_SUPPORT_URL=""
CONFIG_VHDX_IMAGES=y
CONFIG_VMDK_IMAGES=y
#
# ROOter
#

#
# Basic Applications
#
# CONFIG_PACKAGE_arc-storage is not set
# CONFIG_PACKAGE_ext-command is not set
# CONFIG_PACKAGE_ext-extra is not set
# CONFIG_PACKAGE_ext-p910nd is not set
# CONFIG_PACKAGE_luci-app-guestwifi is not set
# CONFIG_PACKAGE_usb-storage is not set
# end of Basic Applications

#
# Basic Support
#
# CONFIG_PACKAGE_ext-buttons is not set
# CONFIG_PACKAGE_ext-rooter-basic is not set
# CONFIG_PACKAGE_ext-sms is not set
# end of Basic Support

#
# BuildSections
#
# CONFIG_PACKAGE_build-admin is not set
# CONFIG_PACKAGE_build-iphone is not set
# CONFIG_PACKAGE_build-luci is not set
# CONFIG_PACKAGE_build-mwan3 is not set
# CONFIG_PACKAGE_build-openvpn is not set
# CONFIG_PACKAGE_build-themes is not set
# CONFIG_PACKAGE_build-usb is not set
# CONFIG_PACKAGE_build-utils is not set
# CONFIG_PACKAGE_build-wifi is not set
# CONFIG_PACKAGE_ext-custom-basic is not set
# end of BuildSections

#
# CustomBuilds
#
# CONFIG_PACKAGE_ext-custom-level0 is not set
# CONFIG_PACKAGE_ext-custom-level1 is not set
# CONFIG_PACKAGE_ext-custom-level2 is not set
# CONFIG_PACKAGE_ext-custom-level3 is not set
# CONFIG_PACKAGE_ext-custom-level4 is not set
# CONFIG_PACKAGE_ext-custom-level5 is not set
# end of CustomBuilds

#
# CustomBuilds16
#
# CONFIG_PACKAGE_ext-custom-level016 is not set
# CONFIG_PACKAGE_ext-custom-level116 is not set
# CONFIG_PACKAGE_ext-custom-level216 is not set
# CONFIG_PACKAGE_ext-custom-level316 is not set
# CONFIG_PACKAGE_ext-custom-level416 is not set
# CONFIG_PACKAGE_ext-custom-level516 is not set
# end of CustomBuilds16

#
# Drivers
#
# CONFIG_PACKAGE_rmbim is not set
# CONFIG_PACKAGE_rqmi is not set
# end of Drivers

#
# Mesh Support
#
# CONFIG_PACKAGE_mesh-mesh is not set
# CONFIG_PACKAGE_mesh-wpad is not set
# end of Mesh Support

#
# Optional Applications
#
# CONFIG_PACKAGE_bwallocate is not set
# CONFIG_PACKAGE_bwmon is not set
# CONFIG_PACKAGE_ext-autoapn is not set
# CONFIG_PACKAGE_ext-blacklist is not set
# CONFIG_PACKAGE_ext-blockport is not set
# CONFIG_PACKAGE_ext-domain is not set
# CONFIG_PACKAGE_ext-logo is not set
# CONFIG_PACKAGE_ext-menu is not set
# CONFIG_PACKAGE_ext-netselect is not set
# CONFIG_PACKAGE_ext-openwisp is not set
# CONFIG_PACKAGE_ext-rspeedtest is not set
# CONFIG_PACKAGE_ext-simpin is not set
# CONFIG_PACKAGE_ext-simplegps is not set
# CONFIG_PACKAGE_ext-speedtest is not set
# CONFIG_PACKAGE_ext-texting is not set
# CONFIG_PACKAGE_ext-throttle is not set
# CONFIG_PACKAGE_ext-wireguard is not set
# CONFIG_PACKAGE_ext-zerotier is not set
# CONFIG_PACKAGE_extramenu is not set
# CONFIG_PACKAGE_netrestart is not set
# CONFIG_PACKAGE_pingtest is not set
# CONFIG_PACKAGE_qlog is not set
# CONFIG_PACKAGE_udp-tunnel is not set
# CONFIG_PACKAGE_webconsole is not set
# end of Optional Applications

#
# Protocols
#
# CONFIG_PACKAGE_luci-proto-3x is not set
# end of Protocols

#
# Router Specific
#
# CONFIG_PACKAGE_alix2d13 is not set
# CONFIG_PACKAGE_b1300 is not set
# CONFIG_PACKAGE_d240 is not set
# CONFIG_PACKAGE_dir860l is not set
# CONFIG_PACKAGE_ext-omnia is not set
# CONFIG_PACKAGE_ext-ssh is not set
# CONFIG_PACKAGE_fscheck is not set
# CONFIG_PACKAGE_h721 is not set
# CONFIG_PACKAGE_mt1300 is not set
# CONFIG_PACKAGE_rbm11g is not set
# CONFIG_PACKAGE_rbm33g is not set
# CONFIG_PACKAGE_rbsxtr is not set
# CONFIG_PACKAGE_rd05a1 is not set
# CONFIG_PACKAGE_vpnpolicy is not set
# CONFIG_PACKAGE_we826 is not set
# CONFIG_PACKAGE_we826q is not set
# CONFIG_PACKAGE_wg1602 is not set
# CONFIG_PACKAGE_wg1608 is not set
# CONFIG_PACKAGE_wg209 is not set
# CONFIG_PACKAGE_wg259 is not set
# CONFIG_PACKAGE_wg3526 is not set
# CONFIG_PACKAGE_wg827 is not set
# CONFIG_PACKAGE_wififix is not set
# CONFIG_PACKAGE_wrt1900 is not set
# CONFIG_PACKAGE_ws1208v2 is not set
# CONFIG_PACKAGE_x750 is not set
# CONFIG_PACKAGE_z8102 is not set
# end of Router Specific

#
# Splash Screens
#
# CONFIG_PACKAGE_ext-splash is not set
# CONFIG_PACKAGE_ext-splashconfig is not set
# end of Splash Screens

#
# Themes
#
# CONFIG_PACKAGE_ext-login is not set
# CONFIG_PACKAGE_ext-theme is not set
# CONFIG_PACKAGE_luci-theme-argondark is not set
# CONFIG_PACKAGE_luci-theme-material is not set
# CONFIG_PACKAGE_luci-theme-materialgrey is not set
# CONFIG_PACKAGE_luci-theme-tomato is not set
# CONFIG_PACKAGE_theme-data is not set
# end of Themes

#
# Wifi
#
# CONFIG_PACKAGE_extra-wifi is not set
# end of Wifi

# CONFIG_PACKAGE_ext-h721 is not set
# CONFIG_PACKAGE_ext-huasifei is not set
# CONFIG_PACKAGE_ext-huasifei16 is not set
# CONFIG_PACKAGE_ext-rooter-lite is not set
# CONFIG_PACKAGE_ext-rooter16 is not set
# end of ROOter
