CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_x86_64_DEVICE_generic=y
CONFIG_TARGET_DEVICE_PACKAGES_x86_64_DEVICE_generic=""
CONFIG_ALL_KMODS=y
CONFIG_ALL_NONSHARED=y
CONFIG_DEVEL=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_AUTOREMOVE=y
CONFIG_BPF_TOOLCHAIN_BUILD_LLVM=y
# CONFIG_BPF_TOOLCHAIN_NONE is not set
CONFIG_BUILDBOT=y
CONFIG_COLLECT_KERNEL_DEBUG=y
CONFIG_HAS_BPF_TOOLCHAIN=y
CONFIG_IB=y
CONFIG_IMAGEOPT=y
CONFIG_JSON_CYCLONEDX_SBOM=y
CONFIG_KERNEL_BUILD_DOMAIN="buildhost"
CONFIG_KERNEL_BUILD_USER="builder"
# CONFIG_KERNEL_KALLSYMS is not set
CONFIG_MAKE_TOOLCHAIN=y
CONFIG_PACKAGE_cgi-io=y
CONFIG_PACKAGE_libbpf=m
CONFIG_PACKAGE_libelf=m
CONFIG_PACKAGE_libiwinfo=y
CONFIG_PACKAGE_libiwinfo-data=y
CONFIG_PACKAGE_liblucihttp=y
CONFIG_PACKAGE_liblucihttp-ucode=y
CONFIG_PACKAGE_libpcap=m
CONFIG_PACKAGE_libxdp=m
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-opkg=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-light=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-mod-network=y
CONFIG_PACKAGE_luci-mod-status=y
CONFIG_PACKAGE_luci-mod-system=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-proto-ppp=y
CONFIG_PACKAGE_luci-ssl=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_px5g-mbedtls=y
CONFIG_PACKAGE_qosify=m
CONFIG_PACKAGE_rpcd=y
CONFIG_PACKAGE_rpcd-mod-file=y
CONFIG_PACKAGE_rpcd-mod-iwinfo=y
CONFIG_PACKAGE_rpcd-mod-luci=y
CONFIG_PACKAGE_rpcd-mod-rrdns=y
CONFIG_PACKAGE_rpcd-mod-ucode=y
CONFIG_PACKAGE_tc-tiny=m
CONFIG_PACKAGE_ucode-mod-html=y
CONFIG_PACKAGE_ucode-mod-math=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_uhttpd-mod-ubus=y
CONFIG_PACKAGE_xdp-filter=m
CONFIG_PACKAGE_xdp-loader=m
CONFIG_PACKAGE_xdpdump=m
CONFIG_PACKAGE_zlib=m
CONFIG_REPRODUCIBLE_DEBUG_INFO=y
CONFIG_SDK=y
CONFIG_SDK_LLVM_BPF=y
CONFIG_TARGET_ALL_PROFILES=y
CONFIG_USE_LLVM_BUILD=y
CONFIG_VERSIONOPT=y
CONFIG_VERSION_BUG_URL=""
CONFIG_VERSION_CODE=""
CONFIG_VERSION_DIST="OpenWrt"
CONFIG_VERSION_FILENAMES=y
CONFIG_VERSION_HOME_URL=""
CONFIG_VERSION_HWREV=""
CONFIG_VERSION_MANUFACTURER=""
CONFIG_VERSION_MANUFACTURER_URL=""
CONFIG_VERSION_NUMBER=""
CONFIG_VERSION_PRODUCT=""
CONFIG_VERSION_REPO="https://downloads.openwrt.org/releases/23.05.2"
CONFIG_VERSION_SUPPORT_URL=""
CONFIG_VHDX_IMAGES=y
CONFIG_VMDK_IMAGES=y
#
# ROOter
#

#
# Basic Applications
#
# CONFIG_PACKAGE_arc-storage is not set
CONFIG_PACKAGE_ext-command=y
CONFIG_PACKAGE_ext-extra=y
CONFIG_PACKAGE_ext-p910nd=y
CONFIG_PACKAGE_luci-app-guestwifi=y
CONFIG_PACKAGE_usb-storage=y
# end of Basic Applications

#
# Basic Support
#
CONFIG_PACKAGE_ext-buttons=y
CONFIG_PACKAGE_ext-rooter-basic=y
CONFIG_PACKAGE_ext-sms=y
# end of Basic Support

#
# BuildSections
#
CONFIG_PACKAGE_build-admin=y
CONFIG_PACKAGE_build-iphone=y
CONFIG_PACKAGE_build-luci=y
# CONFIG_PACKAGE_build-mwan3 is not set
CONFIG_PACKAGE_build-openvpn=y
# CONFIG_PACKAGE_build-themes is not set
# CONFIG_PACKAGE_build-usb is not set
# CONFIG_PACKAGE_build-utils is not set
CONFIG_PACKAGE_build-wifi=y
CONFIG_PACKAGE_ext-custom-basic=y
# end of BuildSections

#
# CustomBuilds
#
# CONFIG_PACKAGE_ext-custom-level0 is not set
# CONFIG_PACKAGE_ext-custom-level1 is not set
# CONFIG_PACKAGE_ext-custom-level2 is not set
# CONFIG_PACKAGE_ext-custom-level3 is not set
# CONFIG_PACKAGE_ext-custom-level4 is not set
# CONFIG_PACKAGE_ext-custom-level5 is not set
# end of CustomBuilds

#
# CustomBuilds16
#
# CONFIG_PACKAGE_ext-custom-level016 is not set
# CONFIG_PACKAGE_ext-custom-level116 is not set
# CONFIG_PACKAGE_ext-custom-level216 is not set
# CONFIG_PACKAGE_ext-custom-level316 is not set
# CONFIG_PACKAGE_ext-custom-level416 is not set
# CONFIG_PACKAGE_ext-custom-level516 is not set
# end of CustomBuilds16

#
# Drivers
#
CONFIG_PACKAGE_rmbim=y
CONFIG_PACKAGE_rqmi=y
# end of Drivers

#
# Mesh Support
#
# CONFIG_PACKAGE_mesh-mesh is not set
# CONFIG_PACKAGE_mesh-wpad is not set
# end of Mesh Support

#
# Optional Applications
#
# CONFIG_PACKAGE_bwallocate is not set
CONFIG_PACKAGE_bwmon=y
CONFIG_PACKAGE_ext-autoapn=y
CONFIG_PACKAGE_ext-blacklist=y
CONFIG_PACKAGE_ext-blockport=y
CONFIG_PACKAGE_ext-domain=y
CONFIG_PACKAGE_ext-logo=y
# CONFIG_PACKAGE_ext-menu is not set
# CONFIG_PACKAGE_ext-netselect is not set
# CONFIG_PACKAGE_ext-openwisp is not set
CONFIG_PACKAGE_ext-rspeedtest=y
# CONFIG_PACKAGE_ext-selectisp is not set
# CONFIG_PACKAGE_ext-simpin is not set
CONFIG_PACKAGE_ext-simplegps=y
CONFIG_PACKAGE_ext-speedtest=y
# CONFIG_PACKAGE_ext-texting is not set
# CONFIG_PACKAGE_ext-throttle is not set
CONFIG_PACKAGE_ext-wireguard=y
# CONFIG_PACKAGE_ext-zerotier is not set
CONFIG_PACKAGE_extramenu=y
# CONFIG_PACKAGE_netrestart is not set
CONFIG_PACKAGE_pingtest=y
CONFIG_PACKAGE_qlog=y
CONFIG_PACKAGE_udp-tunnel=y
CONFIG_PACKAGE_webconsole=y
# end of Optional Applications

#
# Protocols
#
CONFIG_PACKAGE_luci-proto-3x=y
# end of Protocols

#
# Router Specific
#
# CONFIG_PACKAGE_alix2d13 is not set
# CONFIG_PACKAGE_apu2c4 is not set
# CONFIG_PACKAGE_b1300 is not set
# CONFIG_PACKAGE_d240 is not set
# CONFIG_PACKAGE_dir860l is not set
# CONFIG_PACKAGE_ext-omnia is not set
# CONFIG_PACKAGE_ext-ssh is not set
# CONFIG_PACKAGE_fscheck is not set
# CONFIG_PACKAGE_h721 is not set
# CONFIG_PACKAGE_mt1300 is not set
# CONFIG_PACKAGE_rbm11g is not set
# CONFIG_PACKAGE_rbm33g is not set
# CONFIG_PACKAGE_rbsxtr is not set
# CONFIG_PACKAGE_rd05a1 is not set
# CONFIG_PACKAGE_vpnpolicy is not set
# CONFIG_PACKAGE_we826 is not set
# CONFIG_PACKAGE_we826q is not set
# CONFIG_PACKAGE_wg1602 is not set
# CONFIG_PACKAGE_wg1608 is not set
# CONFIG_PACKAGE_wg209 is not set
# CONFIG_PACKAGE_wg259 is not set
# CONFIG_PACKAGE_wg3526 is not set
# CONFIG_PACKAGE_wg827 is not set
# CONFIG_PACKAGE_wififix is not set
# CONFIG_PACKAGE_wrt1900 is not set
# CONFIG_PACKAGE_ws1208v2 is not set
# CONFIG_PACKAGE_x750 is not set
# CONFIG_PACKAGE_z8102 is not set
# end of Router Specific

#
# Splash Screens
#
CONFIG_PACKAGE_ext-splash=y
CONFIG_PACKAGE_ext-splashconfig=y
# end of Splash Screens

#
# Themes
#
CONFIG_PACKAGE_ext-login=y
CONFIG_PACKAGE_ext-theme=y
CONFIG_PACKAGE_luci-theme-argondark=y
# CONFIG_PACKAGE_luci-theme-materialgrey is not set
CONFIG_PACKAGE_luci-theme-tomato=y
# CONFIG_PACKAGE_theme-data is not set
# end of Themes

#
# Wifi
#
# CONFIG_PACKAGE_extra-wifi is not set
# end of Wifi

# CONFIG_PACKAGE_ext-h721 is not set
# CONFIG_PACKAGE_ext-huasifei is not set
# CONFIG_PACKAGE_ext-huasifei16 is not set
CONFIG_PACKAGE_ext-rooter-lite=y
CONFIG_PACKAGE_ext-rooter16=y
# end of ROOter